@model UserManagement.Web.Models.Users.UserListItemViewModel
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>

    <h3>User Action Log</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Details</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Logs)
            {
                <tr>
                    <td>@log.Action</td>
                    <td>@log.Details</td>
                    <td>@log.Timestamp.ToLocalTime()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model.Id">Edit User</a> *@
    <a asp-controller="Users" asp-action="EditUser" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="List">Back to List</a>
</div>
